{{#partial "content"}}
    <section>
        <div class="container">
            <div class="entry-list single">
                <article>
                    <h1> {{ blogEntry.title }}</h1>
                    <time>{{ blogEntry.date}}</time>
                    <div class="entry">
                        <p> {{ blogEntry.blogPost }}</p>
                        <p><a class="link" href="/detail/{{blogEntry.id}}/{{ blogEntry.slug }}/edit">Edit Entry</a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="entry-comments">
        <div class="entry-tags">
            <h2>Tags</h2>
            <div class="tag">
                {{#each blogEntry.tagSet}}
                    <p>{{ this.tag }} </p>
                {{/each}}
            </div>
        </div>
    </section>
    <section class="entry-comments">
        <div class="container">
            <h2>Comments</h2>
            <div class="comment">
                {{#each blogEntry.commentList}}
                    <strong>{{ this.author }}</strong>
                    <time>{{ this.date }}</time>
                    <p>{{ this.comment }}</p>
                {{/each}}
            </div>

            <div class="new-comment">
                <form action="/detail/{{ blogEntry.slug }}/comment" method="post">
                    <label for="name"> Name</label>
                    <input type="text" name="author"><br>
                    <label for="comment">Comment</label>
                    <textarea rows="5" name="comment"></textarea>
                    <input type="submit" value="Post Comment" class="button">
                </form>
            </div>
        </div>
    </section>

{{/partial}}


{{> base.hbs}}